<div class="container">
  <!-- Category Selection -->
  <div class="form-group">
    <label for="category">Kategori</label>
    <app-shared-custom-select
      name="Kategori Seçin"
      [lists]="categoriesObservable | async"
      (selected)="onCategorySelected($event)"
    >
    </app-shared-custom-select>
  </div>

  <div class="p-2"></div>

  <div class="form-group">
    <label for="category">Alt Kategori</label>
    <app-shared-custom-select
      name="Alt Kategori Seçin"
      [lists]="subCategoriesObservable | async"
      (selected)="onSubCategorySelected($event)"
    >
    </app-shared-custom-select>
  </div>

  <div class="p-2"></div>

  <form (ngSubmit)="addNonMedicine()" #drugForm="ngForm">
    <div class="form-group">
      <label for="name">Ürün Adı</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medicineModel.medicine_name" name="name">
    </div>

    <div class="p-2"></div>

    <div class="form-group">
      <label for="description">Açıklama</label>
      <textarea class="form-control" id="description" required [(ngModel)]="medicineModel.definition" name="description"></textarea>
    </div>

    <div class="p-2"></div>

    <div class="form-group">
      <label for="stocks">Stok Adedi</label>
      <input type="number" class="form-control" id="stocks" required [(ngModel)]="medicineModel.stock" name="stocks">
    </div>

    <div class="p-2"></div>

    <div class="form-group">
      <label for="price">Parça Başı Fiyat</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="medicineModel.fee" name="price">
    </div>

    <div class="p-2"></div>

    <div class="form-group">
      <div class="row">
        <label for="image">Ürün Görseli</label>
        <div class=" text-end">
          <input hidden type="file" class="custom-file-input" id="image" (change)="onImageChange($event)">
          <label class="custom-file-label" for="image">
            <span class="btn btn-primary btn-choose-file">Resim Seçin</span>
          </label>
        </div>
      </div>
      <div class="mt-2">
        <img class="img-thumbnail" width="200px" height="200px" *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image">
      </div>
    </div>
    
    

    <div class="p-5"></div>

    <button type="submit" class="btn btn-primary" [disabled]="isSaving">Ürün Ekle</button>

    <div class="p-2"></div>
  </form>
</div>
