<div class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed">
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid">
                <app-site-header></app-site-header>
                <div class="d-flex flex-column flex-column-fluid" style="margin: 80px 0px 80px 0px">
                    <div class="post d-flex flex-column-fluid">
                        <div class="container-xxl">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                <app-site-footer></app-site-footer>
            </div>
        </div>
    </div>
</div>