<div class="d-flex flex-column flex-root header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed"
    [attr.data-kt-aside-minimize]="userService.get.sidebarShrink ? 'on' : 'off'">
    <div class="page d-flex flex-row flex-column-fluid">

        <!-- SIDEBAR -->
        <app-admin-sidebar></app-admin-sidebar>

        <div class="wrapper d-flex flex-column flex-row-fluid">

            <!-- NAVBAR -->
            <app-admin-navbar></app-admin-navbar>

            <div class="content d-flex flex-column flex-column-fluid" style="margin-top: 50px;">

                <!-- TOOLBAR -->
                <!--  <app-admin-toolbar></app-admin-toolbar> -->

                <div class="post d-flex flex-column-fluid">
                    <div class="container-fluid">

                        <!-- ROUTER -->
                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <app-admin-footer></app-admin-footer>

        </div>
    </div>
</div>