<div class="row gy-5 g-xl-12">
    <div class="col-xl-12">
        <div class="row justify-content-center">
            <!-- <ng-container *ngFor="let os of orderStatus">
                <a class="col-md-2 col-sm-12 bg-light-primary px-6 py-8 rounded-2 me-7 mb-7" *ngIf="os.id < 6"
                    (click)="chooseOrderStatus(os.id)">
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-2x fa-carrot d-block my-2" *ngIf="os.id == 1"></i>
                            <i class="fas fa-2x fa-money-bill-wave-alt d-block my-2" *ngIf="os.id==2"></i>
                            <i class="fas fa-2x fa-calendar-check d-block my-2" *ngIf="os.id==3"></i>
                            <i class="fas fa-2x fa-toolbox d-block my-2" *ngIf="os.id==4"></i>
                            <i class="fas fa-2x fa-taxi d-block my-2" *ngIf="os.id==5"></i>
                        </div>
                        <div class="col fs-1">
                            {{os.orders_aggregate.aggregate.count}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><span class="text-primary fw-bold fs-6"
                                style="text-decoration: underline;">{{os.name}}</span></div>
                    </div>
                </a>
            </ng-container> -->
        </div>
    </div>
</div>